{% extends 'tuetools/base.html' %}
{% block title %}{{ album }}{% endblock %}
{% block documents_active %}active{% endblock %}

{% block body %}
<div class="container documents-container">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'tuetools:detail' course.id %}"></a>
                    <h4>{{ course.course_name }} <small>{{ course.course_code }}</small></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-8 col-md-offset-1">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'tuetools:detail' course.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'tuetools:upload_document' course.id %}">Upload a new document</a></li>
            </ul>
            <div class="panel panel-default" id="documents">
                <div class="panel-body"	>
                    <h3>All available documents for this course:</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Document name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for document in course.document_set.all %}
                            <tr>
                                <td>{{ document.document_name }}</td>
                                <td>
                                    <a target="_blank" href="{{ document.document_file.url }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-download"></span>&nbsp; Download
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    {% if document.user == user %}
                                        <form action="{% url 'tuetools:delete_document' course.id document.id %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="document_id" value="{{ document.id }}" />
                                            <button type="submit" class="btn btn-danger btn-xs">
                                                <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}